# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
gradle
build
.gradle


# other
eclipse
build.gradle
gradle.properties
gradlew
gradlew.bat
run
gradle

# Files from Forge MDK
forge*changelog.txt
